/** @format */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #757575;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address{
  font-style: normal;
}

//480px, 768px и 1200px.
//        768p15       1170px
.section {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.logo__link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: space-around;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section__heading {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: bold;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 28px;
    line-height: calc(33 / 28);
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

%social-link-list-geometry{
  display: flex;
  justify-content: center;
  li{
    &:not(:last-child){
      margin-right: 10px;
    }
  }
}

@mixin round ($bg-calm, $svg-calm){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;height: 40px;
    border-radius: 50%;
    color: white;
    background-color: $bg-calm;
    transition: background-color 250ms $cubic;
    & svg{
      transform: fill 250ms $cubic;
    }
    & svg{
      fill: $svg-calm;
    }
    &:hover, &:focus{
      background-color: #2196f3;
    }
    &:hover svg, &:focus svg{
      fill: currentColor;
    }
  }
