
  $main-bg-color: #ffffff;
  $main-text-color: #757575;
  $second-text-color: #212121;
  $optional-color: #2196f3;
  $second-bg-color: #f5f4fa;
  $footer-hero-bg-color: #2f303a;
  $main-font-family: Roboto;
  $time-graf: cubic-bezier(0.4, 0, 0.2, 1);
