/** @format */

.advantages__container {
  @extend .container;
}

.advantage--visually-hidden {
  @extend .visually-hidden;
}

.advantage__list {
  text-align: center;
}

.advantage__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $second-bg-color;
  margin-bottom: 30px;
  height: 120px;
}

.advantage__svg {
  width: 70px;
  height: 70px;
}

.advantage__heading {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: $second-text-color;
}

.advantage__discription {
  margin-bottom: 30px;

  & + & {
    margin-bottom: 0;
  }

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: $main-text-color;
}
