/** @format */

.clients__container {
  @extend .container;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  min-width: calc((100% - 30px) / 2);
  margin-bottom: 30px;
  &:nth-child(2n - 1) {
    margin-right: 30px;
  }

  &:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition: border-color 250ms $time-graf;

  &:hover, &:focus{
      border-color: $optional-color;
  }
}

.clients__svg{
    transition: fill 250ms $time-graf;

    .clients__link:hover &, .clients__link:focus &{
        fill: $optional-color;
    }
}