/** @format */

.footer {
  background-color: #2f303a;
  color: white;
}
.footer__logo--whitener {
  color: white;
}
.footer__container {
  @extend .container;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
  }
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer__list {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer__item {
  &:first-of-type {
    margin-bottom: 8px;
  }
}
.footer__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
   @media screen and (min-width: 1200px) {
       text-align: left;
  }
}
.footer__contacts {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer__contacts .footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: calc(24 / 14);
}
.footer__social .footer__list {
  @extend %social-link-list-geometry;
}
.footer__social .footer__link {
  @include round(rgba(255, 255, 255, 0.1), white);
}
.footer__social {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 89px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer__form {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
  }
}
.footer__span {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
      display: flex;
  }
}
.footer__email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  height: 50px;
  padding: 15px;
  transition: border-color 250ms $cubic;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: #2196f3;
    outline: #2196f3;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
  }
}
.footer__submit {
  @extend .btn;
  justify-content: center;
  .btn__plain {
    margin-left: 10px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: auto;margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
  }
}
