/** @format */

.footer--dark-topic {
  background-color: $footer-hero-bg-color;
  color: rgba(255, 255, 255, 1);
}

.footer__container {
  @extend %container;
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-between;
  transition: outline 250ms $time-graf;
  *:focus {
    outline: $optional-color 1px solid;
  }
}

.footer__contacts {
  .footer__list {
    margin-top: 9px;
  }

  & .footer__item:not(:first-child) {
    margin-top: 9px;
  }

  & .footer__link {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer__adress {
    font-style: normal;
    margin-top: 20px;
  }
}

.footer__logo {
  @extend %logo;

  &.footer__logo--whitener {
    color: rgba(255, 255, 255, 1);
  }
}

.footer__heading {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social {
  .footer__list {
    display: flex;
  }

  .footer__item:not(:last-child) {
    margin-right: 10px;
  }

  .footer__link {
    @extend %social_link_round;
    fill: white;
    background-color: rgba(255, 255, 255, 0.1)
  }
}

.footer__email {
  padding: 15px;
  background-color: inherit;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  transition: border-color 250ms $time-graf, outline 250ms $time-graf;

  &:hover,
  &:focus {
    border-color: $optional-color;
    outline: $optional-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;

  .footer__span {
    display: inline-block;
  }

  .footer__submit {
    @extend %btn;
    display: inline-flex;
  }
}

.btn__plain {
  margin-left: 10px;
}
