/** @format */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;

  width: 480px;
  height: 60px;

  outline: auto;
}

.header__logoLink {
  @extend .logo;

  .header__logo--black {
    color: black;
  }

  .header__nav {
    display: none;
  }

  .header__contacts {
    display: none;
  }

  .header__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0;
    margin-right: 24px;
    display: block;
  }

  .header__menuIcon {
    fill: black;

    .header__btn:hover &,
    .header__btn:focus & {
      fill: $optional-color;
    }
  }
}
