/** @format */

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: url(../images/header_phone.jpg);
  background-image: url(../images/header_phone.jpg),
    linear-gradient(
        to top, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4));
}

.hero__heading{
 
font-size: 26px;
font-weight: 900;
line-height: calc(42/26);
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
margin-bottom: 30px;
}

.hero__btn{
    @extend .btn;
}