/** @format */

.section__work {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    display: none;
    padding-bottom: 0;
  }
}
.work__container {
  @extend .container;
}
.work__list {
  display: flex;
}
.work__item {
    width: 100%;
    height: 100%;
    position: relative;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
}
.work__img{
    display: block;
}
.work__discription {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
